*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html{
  scroll-behavior: smooth;
}
.bgtimeline {
/*  background: #2D9596;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
/*  background-image: url("../image/cover_ssd.png");*/
  background: linear-gradient(to right, rgba(56, 154, 255, 0.71), rgba(144, 0, 149, 0.71)), url("../image/bg_technologi.png") top center fixed;;
}
.container{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.container .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}


.container .row{
  display: flex;
  margin-bottom: -0px; /* Sesuaikan margin antara lesson 1 dan lesson 2 */
}
.container .first{
  justify-content: flex-start;
}
.container .second{
  justify-content: flex-end;
}
.container .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.container .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.first section::before{
  right: -7px;
}
.second section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #2D9596;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.first section .icon{
  top: 0px;
  right: -60px;
}
.second section .icon{
  top: 15px;
  left: -60px;
  top: 10px; /* Menyesuaikan posisi icon di row second */
    left: -60px; /* Menyesuaikan posisi icon di row second */
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section .details .title1{
  font-size: 28px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Jarak antar tombol */
    margin-top: 15px;
}
.row section .bottom a{
  text-decoration: none;
  background: #2D9596;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: 400;
  transition: all 0.3s ease;

  flex: 1 1 auto;
/*    background-color: #007BFF;*/
/*    color: #FFFFFF;*/
/*    text-decoration: none;*/
/*    border-radius: 5px;*/
    text-align: center; /* Mengatur teks agar berada di tengah */
}
.row section .bottom a:hover{
  background-color: #4B207F;
  transform:scale(0.97);
}

.first section::before,
.second section::before {
    top: 0px; /* Menyesuaikan posisi garis tambahan */
}

/* Responsive Code */
@media screen and (max-width: 790px) {
  .container .center-line{
      left: 40px;
  }
  .container .row{
      margin: 30px 0 3px 60px;
  }
  .container .row section{
      width: 100%;
  }
  .first section .icon{
      left: -60px;
  }
  .first section::before{
      left: -7px;
  }
}
@media screen and (max-width: 440px){
  .container .center-line,
  .row section::before,
  .row section .icon{
      display: none;
  }
  .container .row{
      margin: 10px 0;
  }
}